{
  "root": true,
  "extends": ["eslint:recommended", "plugin:@typescript-eslint/recommended"],
  "parser": "@typescript-eslint/parser",
  "parserOptions": { "project": ["./tsconfig.json"] },
  "plugins": ["@typescript-eslint", "unused-imports", "react-hooks"],
  "rules": {
    "no-console": "warn",
    "react-hooks/exhaustive-deps": "warn"
  },
  "ignorePatterns": [
    "src/**/*.test.ts",
    "src/frontend/generated/*",
    "node_modules/*",
    "app.config.ts",
    "jest.config.js",
    "__mocks__/*",
    "scripts/*"
  ],
  "env": {
    "jest": true
  }
}
